.editorconfig export-ignore
.gitattributes export-ignore
.github export-ignore
.gitignore export-ignore
bower.json export-ignore
docker-compose.yml export-ignore
Gruntfile.js export-ignore
package.json export-ignore
phpcs.xml export-ignore
phpstan.neon export-ignore
phpunit-functional.xml export-ignore
phpunit.xml export-ignore
renovate.json export-ignore
typoscript-lint.yml export-ignore

.grunt/ export-ignore
Tests/ export-ignore
