includes:
    - vendor/jangregor/phpstan-prophecy/extension.neon
    - vendor/saschaegerer/phpstan-typo3/extension.neon
    - phpstan-baseline.neon

parameters:
  level: 5

  paths:
    - ext_emconf.php
    - ext_localconf.php
    - ext_tables.php
    - Classes
    - Configuration

  ignoreErrors:
    - message: '#Variable \$_EXTKEY might not be defined#'
      path: '*/ext_emconf.php'
    - message: '#Right side of || is always false.#'
      path: Configuration/TCA/*.php
      count: 1
    - message: '#Right side of || is always false.#'
      path: ext_localconf.php
      count: 1
    - message: '#Right side of || is always false.#'
      path: ext_tables.php
      count: 1
    - message: '#Parameter .+ expects .+, PHPUnit\\Framework\\MockObject\\MockObject given\.#'
      path: '*/PaginateViewHelperTest.php'
    - message: '#Access to protected property .+TypoScriptFrontendController::\$sys_language_uid#'
      path: '*LoggerFinisher*'
  reportUnmatchedIgnoredErrors: false
