<ul class="pagination">
  <f:if condition="{pagination.previousPageNumber} && {pagination.previousPageNumber} >= {pagination.firstPageNumber}">
    <f:then>
      <li>
        <f:render section="paginationLink" arguments="{page: pagination.firstPageNumber}" contentAs="text">
          <core:icon identifier="actions-view-paging-first"/>
          <f:translate key="pagination.first"/>
        </f:render>
      </li>
      <li>
        <f:render section="paginationLink" arguments="{page: pagination.previousPageNumber}" contentAs="text">
          <core:icon identifier="actions-view-paging-previous"/>
          <f:translate key="pagination.previous"/>
        </f:render>
      </li>
    </f:then>
    <f:else>
      <li class="disabled">
        <span>
          <core:icon identifier="actions-view-paging-first"/>
          <f:translate key="pagination.first"/>
        </span>
      </li>
      <li class="disabled">
        <span>
          <core:icon identifier="actions-view-paging-previous"/>
          <f:translate key="pagination.previous"/>
        </span>
      </li>
    </f:else>
  </f:if>

  <li>
    <div class="input-group pull-left">
      <f:form.textfield
        type="number"
        name="currentPageNumber"
        value="{currentPageNumber}"
        additionalAttributes="{
          min: pagination.firstPageNumber,
          max: pagination.lastPageNumber
        }"
        class="form-control text-right"
     />
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">
          <core:icon identifier="actions-arrow-right"/>
          <f:translate key="pagination.go"/>
        </button>
      </span>
    </div>
  </li>

  <f:if condition="{pagination.nextPageNumber} && {pagination.nextPageNumber} <= {pagination.lastPageNumber}">
    <f:then>
      <li>
        <f:render section="paginationLink" arguments="{page: pagination.nextPageNumber}" contentAs="text">
          <f:translate key="pagination.next"/>
          <core:icon identifier="actions-view-paging-next"/>
        </f:render>
      </li>
      <li>
        <f:render section="paginationLink" arguments="{page: pagination.lastPageNumber}" contentAs="text">
          <f:translate key="pagination.last"/>
          <core:icon identifier="actions-view-paging-last"/>
        </f:render>
      </li>
    </f:then>
    <f:else>
      <li class="disabled">
        <span>
          <f:translate key="pagination.next"/>
          <core:icon identifier="actions-view-paging-next"/>
        </span>
      </li>
      <li class="disabled">
        <span>
          <f:translate key="pagination.last"/>
          <core:icon identifier="actions-view-paging-last"/>
        </span>
      </li>
    </f:else>
  </f:if>
</ul>

<f:section name="paginationLink">
  <f:link.action
    arguments="{currentPageNumber: page}"
    addQueryString="true"
  >
    {text -> f:or(alternative: page) -> f:format.raw()}
  </f:link.action>
</f:section>
