#filter-form .popover {
    max-width: 350px;
}

#filter-form .filter-button {
    visibility: hidden;
}

#filter-form tr:hover .filter-button {
    visibility: visible;
}

#filter-form .pagination {
    margin: 0;
}
